{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-recess-order"
  ],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "plugins": ["stylelint-order"],
  "rules": {}
}
